<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Automation Suite">
<listeners>
<listener class-name="io.qameta.allure.testng.AllureTestNg" />
</listeners>
  <test name="Book API Tests">
    <classes>
      <class name="com.skamirullah.tests.AddBookTest"/>
    </classes>
  </test>
</suite>